
.k-appbar {
  padding: 5px 10px;
}
kendo-menu {
  color: black;
}
.k-button {
  font-size: 28px;
}

.k-drawer {
  background-color: white;
}
kendo-drawer-container {

  position: fixed;
  width: 100%;
  height: 100%;
}


.product {
  // position: relative;
  // top: 28px;
  // left: -200px;
  // margin: 0;
  margin-top: -15px;
  margin-left: 15px;
  font-size: 14px;
  color: black;


}
