<kendo-appbar [position]="'top'">


  <kendo-appbar-section style="display: inline;">
    <!-- <button
    kendoButton
    icon="menu"
    look="flat"
    (click)="drawer.toggle()"
    ></button> -->


      <h1 class="title">Product Manager</h1>
      <h3 class="product">
        Product Name: {{ productName }} | ID: {{ productID }}
      </h3>
  </kendo-appbar-section>

  <kendo-appbar-spacer [width]="'32px'"></kendo-appbar-spacer>


  <kendo-appbar-section>

    <kendo-menu (select)="onSelectMenu($event)">
      <kendo-menu-item data="social-media" text="Social Media" [cssStyle]="{ color: 'black' }">
        <kendo-menu-item text="Facebook" [cssStyle]="{ color: 'black' }">
        </kendo-menu-item>
        <kendo-menu-item [separator]="true"> </kendo-menu-item>

        <kendo-menu-item text="Twitter" [cssStyle]="{ color: 'black' }">
        </kendo-menu-item>
        <kendo-menu-item [separator]="true"> </kendo-menu-item>

        <kendo-menu-item text="LinkedIn" [cssStyle]="{ color: 'black' }">
        </kendo-menu-item>
      </kendo-menu-item>

      <kendo-menu-item [separator]="true"> </kendo-menu-item>
      <kendo-menu-item data="data-sheet" text="Data Sheet" [cssStyle]="{ color: 'black' }"></kendo-menu-item>
      <kendo-menu-item [separator]="true"> </kendo-menu-item>

      <kendo-menu-item data="brochure" text="Brochure" [cssStyle]="{ color: 'black' }"></kendo-menu-item>
      <kendo-menu-item [separator]="true"> </kendo-menu-item>

      <kendo-menu-item data="installer-manual" text="Installer Manual" [cssStyle]="{ color: 'black' }"></kendo-menu-item>
      <kendo-menu-item [separator]="true"> </kendo-menu-item>

      <kendo-menu-item data="website-info" text="Website Info" [cssStyle]="{ color: 'black' }"></kendo-menu-item>
      <kendo-menu-item [separator]="true"> </kendo-menu-item>

      <kendo-menu-item data="specifics"  text="Specifics" [cssStyle]="{ color: 'black' }"></kendo-menu-item>
      <kendo-menu-item [separator]="true"> </kendo-menu-item>

      <kendo-menu-item data="pictures" text="Pictures" [cssStyle]="{ color: 'black' }"></kendo-menu-item>
    </kendo-menu>
  </kendo-appbar-section>
  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

  <!-- <kendo-appbar-section>
    <app-product-button></app-product-button>
  </kendo-appbar-section> -->



</kendo-appbar>

<div>
  <button
    kendoButton
    icon="menu"
    look="flat"
    (click)="drawer.toggle()"
  ></button>
</div>
<kendo-drawer-container>


  <kendo-drawer
    #drawer
    [items]="items"
    [mode]="'push'"
    [mini]="true"
    [width]="175"
    [(expanded)]="expanded"
    (select)="onSelect($event)"
  >
  <button
    kendoButton
    icon="menu"
    look="flat"
    (click)="drawer.toggle()"
    ></button>
    <ng-template kendoDrawerItemTemplate let-item>

      <span class="k-icon item-icon {{ item.icon }}"></span>

      <div class="item-descr-wrap" *ngIf="expanded">
          <div>{{ item.text }}</div>
      </div>
    </ng-template>
  </kendo-drawer>

  <kendo-drawer-content>
    <router-outlet></router-outlet>
  </kendo-drawer-content>

</kendo-drawer-container>


