@import 'styles/variables';
.editor-page {
  display: flex;
  justify-content: space-around;
}

.editor {
  width: 70%;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  button {
    margin-bottom: 10px;
  }
}

.k-button-primary, .k-button.k-primary {
  border-color: $primary-dark;
  color: $white;
  background-color: $primary-dark;
}

kendo-pdf-document .k-toolbar {
  display: none;
}

kendo-pdf-document .k-editor {
  height: 100% !important;
  border: none;
}
